@font-face 
    font-family: 'iconfont';
    src: url('../icon_fonts/iconfont.eot'); /* IE9*/
    src: url('../icon_fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../icon_fonts/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../icon_fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../icon_fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */

.icon-font
    font-family: 'iconfont'
    display: inline-block
    height: 30px
    width: 42px

.title
    h4
        color: #254763
        font-size: 30px
        margin: 1.3em 0
        span
            margin-right: 10px